body {
  color: rgb(106, 115, 125);
}

h1 {
  color: rgb(96, 103, 112)
}

h5 {
  margin-bottom: .25rem;
}

.header {
  padding: 1rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 2rem;
}

.header input {
  width: 100%;
  margin-right: 2rem;
}

.header button {
  white-space: nowrap;
}

.logo {
  width: 15rem;
}

.content {
  padding: 1rem 2.5rem 5rem 2.5rem;
}

.list {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.character {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.character-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.character-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .75rem;
}

.character-img {
  width: 100%;
  display: block;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #13b0c8;
  border: 0;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  cursor: pointer;
  margin-right: 1rem;
}

button:hover {
  background-color: #0d9db3;
}

input {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

