body {
  color: rgb(106, 115, 125);
}

h1 {
  color: rgb(96, 103, 112)
}

.header {
  padding: 1rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 2rem;
}

.logo {
  width: 15rem;
}

.content {
  padding: 1rem 2.5rem 5rem 2.5rem;
}

